/* Body & text */

body {
    background: #fff;
    font-family: 'helvetica';
    height: 100%;
    margin: 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.nine {
    color: #9B9B9B;
    font-size: 9px;
    margin-top: -12px;
}

.eleven {
    color: #000;
    font-size: 11px;
}

.eleven-table {
    color: #000;
    font-size: 11px;
    margin-bottom: -1px;
}

h2 {
    font-size: 24px;
}

label {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    margin-top: 20px;
}

.subtext {
    font-size: 11px;
}

/* Navigation */

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    border: 0;
    font-family: "helvetica";
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

#cssmenu {
    background: #6b7885;
    display: inline-block;
    width: 200px;
}

#cssmenu ul ul {
    background: #F3F3F3;
    display: none;
    padding: 10px 15px;
}

#cssmenu ul ul li {
    padding: 10px 0;
}

#cssmenu ul ul a {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}

span.active {
    color: #e88a38;
}

a.active {
    color: #E88A38;
}

@media (max-width: 920px) {
    .hidden-xs {
        display: none;
    }
}

#nav {
    max-height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 200px;
}

.inner {
    float: none;
    margin: 0 auto;
    max-width: 15%;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.line-color {
    background: #6b7885;
    height: 100%;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}

.logo-style {
    height: 50px;
    opacity: 0.8;
    text-align: center;
    width: 100%;
}

.logo {
    background: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: 0.9;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.li {
    padding-bottom: 20px;
    padding-top: 20px;
}

.kop {
    background-color: #76818E;
    border: 1px solid #094f68;
    color: #fff;
}

.subkop1 {
    background: #f3f3f3;
}

.subkop {
    color: #888888;
}

.nav-img {
    height: 20px;
    padding-left: 20px;
    padding-top: 15px;
    width: 20px;
}

.menu-text {
    padding-left: 10px;
}

.nav-arrow {
    float: right;
    padding-right: 10px;
}

/* Content */

.content {
    display: inline-block;
    margin-top: 30px;
    padding-left: 5%;
    position: absolute;
    width: 78%;
}

/* Felle kleuren */

.red {
    background: #C0392B;
    border: 1px solid #dd6262;
    color: #fff;
    float: left;
    height: 112px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 300px;
}

.red-icon {
    padding-top: 35px;
}

.green {
    background: #2ECC71;
    border: 1px solid #78a144;
    color: #fff;
    float: left;
    height: 112px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 300px;
}

.green-icon {
    padding-top: 35px;
}

.blue {
    background: #3498DB;
    border: 1px solid #4983a6;
    color: #fff;
    float: left;
    height: 112px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 300px;
}

.blue-icon {
    padding-top: 35px;
}

.orange {
    background: #E67E22;
    border: 1px solid #bd6536;
    color: #fff;
    float: left;
    height: 112px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 300px;
}

.orange-icon {
    padding-top: 35px;
}

.icon {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    height: 68px;
    min-width: 30%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .red {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .green {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .blue {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .orange {
        width: 40%;
    }
}

/* index
    tabelen */

table {
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    margin: 10px;
}

.t01 {
    width: 91%;
}

.t02 {
    display: inline-block;
    width: 44%;
}

table tr td {
    border: 0;
    height: 40px;
    padding: 15px;
}

.table-numbers {
    color: #10617d;
    width: 120px;
}

.table-getal {
    color: #10617d;
    width: 87%;
}

table.t02 tr td:nth-child(2) {
    width: 120px;
}

table.t01 tr:nth-child(even) {
    background-color: #fff;
}

table.t01 tr:nth-child(odd) {
    background-color: #f6f6f6;
}

table.t02 tr:nth-child(even) {
    background-color: #fff;
}

table.t02 tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.icon-table {
    background: #f6f6f6;
    border: 1px solid #d6d6d6;
    color: #0a516a;
    height: 20px;
    padding: 3px;
    padding-top: 6px;
    width: 20px;
}

.table-padding-icon {
    width: 35px;
}

@media (max-width: 415px) {
    .t01 {
        min-width: 220px;
    }
}

@media (max-width: 415px) {
    .t02 {
        display: inline-block;
        min-width: 218px;
    }
}

.table-padding {
    padding: 20px;
}

/* index
   Aanbiedingen */

.offer {
    background: #000;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 70px;
    margin: 12px;
    min-width: 42%;
    padding: 15px;
}

.button {
    background: #719132;
    border: 0;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    float: right;
    padding: 10px;
}

.offer-float {
    float: left;
    padding-left: 5px;
    text-align: center;
}

.offer-padding {
    padding-left: 150px;
    width: 215.96875px;
}

.offer-button {
    margin-top: -55px;
}

div.offer {
    margin-right: 0;
}

@media (max-width: 415px) {
    .offer {
        background: #000;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        height: 70px;
        margin: 12px;
        padding: 15px;
        width: 190px;
    }
}

@media (max-width: 480px) {
    .offer {
        background: #000;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        height: 70px;
        margin: 12px;
        padding: 15px;
        width: 200px;
    }
}

@media (max-width: 508px) {
    .offer {
        background: #000;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        height: 70px;
        margin: 12px;
        padding: 15px;
        width: 200px;
    }
}

@media (max-width: 415px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 568px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 667px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 736px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .offer-button {
        margin-top: 0px;
    }
}

@media (max-width: 918px) {
    .offer-button {
        margin-top: 0px;
    }
}

/* autoresponder
   tabs*/

.tabs-menu {
    clear: both;
    float: left;
    height: 30px;
    list-style-type: none;
}

.tabs-menu li {
    background-color: none;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.tabs-menu li.current {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #DDDDDD;
}

.tabs-menu li a {
    color: #9b9b9b;
    padding: 10px;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #6B7784;
}

.tab {
    background-color: #fff;
    border-top: 1px solid #ddd;
    float: left;
    margin-bottom: 20px;
    width: 90%;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;
}

/* autoresponder
   formulier*/

.input {
    font-size: 10px;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
}

select {
    font-size: 10px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 10px;
    width: 100%;
}

.auto {
    border: 0;
    margin: 0;
    width: 100%;
}

.th {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    text-align: left;
    width: 33%;
}

.thIcon {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    text-align: center;
    width: 9%;
}

tr {
    margin: 0;
}

.div {
    display: inline-block;
    padding: 25px;
    width: 35%;
}

.blue-button {
    background: #48A2DE;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
}

#site-search-input {
    height: 20px;
    padding-left: 7px;
    width: 190px;
}

.search {
    margin-left: -30px;
}

#search-text-input {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 0;
    border-top: 1px solid #e5e5e5;
    float: left;
    height: 17px;
    margin: .8em 0 0 0;
    margin-bottom: 20px;
    outline: 0;
    padding: .4em 0 .4em .6em;
}

#button-holder {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    float: left;
    height: 25px;
    margin: 9px 0 0 0;
    text-align: center;
    width: 50px;
}

#button-holder img {
    margin: 2px;
    width: 20px;
}

.padding-elf {
    padding-left: 0;
    padding-top: 0;
}

textarea {
    border: 1px solid #CCCCCC;
    height: 150px;
    padding: 10px;
    width: 100%;
}

.background-grey {
    background: #EFEFEF;
    border: none;
    height: 20px;
    padding-top: 5px;
}

.background-white {
    background: #fff;
    border: none;
    height: 20px;
}

.ed {
    float: right;
}

.ed-padding {
    padding-right: 20px;
}